In [1]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path_to_csv = os.path.join("..", "data", "athlete_events.csv")

athletes = pd.read_csv(path_to_csv)

In [3]:
athletes.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
athletes["Medal"].replace(np.NaN, "None", inplace=True)

In [5]:
athletes.dropna(how="any", inplace=True)

In [7]:
athletes.groupby("Sport")["ID"].count()

Sport
Alpine Skiing                 6322
Archery                       1883
Art Competitions                28
Athletics                    32374
Badminton                     1362
Baseball                       846
Basketball                    3668
Beach Volleyball               538
Biathlon                      4615
Bobsleigh                     2205
Boxing                        4363
Canoeing                      5550
Cross Country Skiing          7529
Curling                        410
Cycling                       7775
Diving                        2011
Equestrianism                 4553
Fencing                       6537
Figure Skating                1512
Football                      4443
Freestyle Skiing               913
Golf                           108
Gymnastics                   18271
Handball                      3319
Hockey                        4264
Ice Hockey                    4579
Judo                          3366
Lacrosse                         2
Luge                          1377
Modern Pentathlon             1259
Motorboating                     1
Nordic Combined               1065
Rhythmic Gymnastics            615
Rowing                        7790
Rugby                           30
Rugby Sevens                   297
Sailing                       4863
Shooting                      7260
Short Track Speed Skating     1488
Skeleton                       174
Ski Jumping                   1966
Snowboarding                   924
Softball                       441
Speed Skating                 4400
Swimming                     18776
Synchronized Swimming          849
Table Tennis                  1789
Taekwondo                      596
Tennis                        2008
Trampolining                   149
Triathlon                      526
Tug-Of-War                      20
Volleyball                    3277
Water Polo                    2719
Weightlifting                 2974
Wrestling                     5186
Name: ID, dtype: int64

## Take a look at the sports that have been pulled: 

- Baseball
- Tug-of-war
- Water Polo

In [8]:
athletes_baseball = athletes.loc[athletes["Sport"] == "Baseball"]
athletes_softball = athletes.loc[athletes["Sport"] == "Softball"]

In [14]:
athletes_baseball["NOC_Year"] = athletes_baseball["NOC"] + athletes_baseball["Year"].map(str)

C:\Users\mtoriello0725\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
participating_teams = athletes_baseball.drop_duplicates(subset="NOC_Year")

In [20]:
participating_teams.drop(columns=["ID", "Name", "Sex", "Age", "Height", "Weight"], inplace=True)

C:\Users\mtoriello0725\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [24]:
participating_teams.loc[participating_teams["Medal"] != "None"]

,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,NOC_Year
739,United States,USA,2000 Summer,2000,Summer,Sydney,Baseball,Baseball Men's Baseball,Gold,USA2000
2672,Japan,JPN,2004 Summer,2004,Summer,Athina,Baseball,Baseball Men's Baseball,Bronze,JPN2004
2798,Cuba,CUB,1992 Summer,1992,Summer,Barcelona,Baseball,Baseball Men's Baseball,Gold,CUB1992
2799,Cuba,CUB,1996 Summer,1996,Summer,Atlanta,Baseball,Baseball Men's Baseball,Gold,CUB1996
2800,Cuba,CUB,2000 Summer,2000,Summer,Sydney,Baseball,Baseball Men's Baseball,Silver,CUB2000
4966,United States,USA,1996 Summer,1996,Summer,Atlanta,Baseball,Baseball Men's Baseball,Bronze,USA1996
6771,United States,USA,2008 Summer,2008,Summer,Beijing,Baseball,Baseball Men's Baseball,Bronze,USA2008
6780,Australia,AUS,2004 Summer,2004,Summer,Athina,Baseball,Baseball Men's Baseball,Silver,AUS2004
18124,Cuba,CUB,2008 Summer,2008,Summer,Beijing,Baseball,Baseball Men's Baseball,Silver,CUB2008
20898,Cuba,CUB,2004 Summer,2004,Summer,Athina,Baseball,Baseball Men's Baseball,Gold,CUB2004
25200,South Korea,KOR,2008 Summer,2008,Summer,Beijing,Baseball,Baseball Men's Baseball,Gold,KOR2008
38402,Chinese Taipei,TPE,1992 Summer,1992,Summer,Barcelona,Baseball,Baseball Men's Baseball,Silver,TPE1992
73907,Japan,JPN,1996 Summer,1996,Summer,Atlanta,Baseball,Baseball Men's Baseball,Silver,JPN1996
85646,South Korea,KOR,2000 Summer,2000,Summer,Sydney,Baseball,Baseball Men's Baseball,Bronze,KOR2000
104157,Japan,JPN,1992 Summer,1992,Summer,Barcelona,Baseball,Baseball Men's Baseball,Bronze,JPN1992

## So Found a way to break down sports by team.
- Find a way to calculate how many medals a country has won.

In [26]:
path_to_csv = os.path.join("..", "data", "athlete_events.csv")

athletes = pd.read_csv(path_to_csv)

In [27]:
athletes["Medal"].replace(np.NaN, "None", inplace=True)

In [28]:
winning_countries = athletes.drop(columns=["ID", "Name", "Sex", "Age", "Height", "Weight"])

In [31]:
winning_countries.head()

,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None
1,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None
2,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None
3,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None

NOC + Year + Event + Medal

Country + Year + Event + Medal : uniquely identify gold medal winners for each country. Taking athlete out of equation
accounting for sports like Basketball where multiple athletes win for the same event.

In [34]:
identifier = winning_countries["NOC"] + winning_countries["Year"].map(str) + winning_countries["Event"] + winning_countries["Medal"]

winning_countries["NOC_Year_Event_Medal"] = identifier

winning_countries.head()

,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,NOC_Year_Event_Medal
0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None,CHN1992Basketball Men's BasketballNone
1,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None,CHN2012Judo Men's Extra-LightweightNone
2,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None,DEN1920Football Men's FootballNone
3,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,DEN1900Tug-Of-War Men's Tug-Of-WarGold
4,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None,NED1988Speed Skating Women's 500 metresNone

In [38]:
unique_winning_countries = winning_countries.drop_duplicates(subset="NOC_Year_Event_Medal")

unique_winning_countries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123688 entries, 0 to 271099
Data columns (total 10 columns):
Team                    123688 non-null object
NOC                     123688 non-null object
Games                   123688 non-null object
Year                    123688 non-null int64
Season                  123688 non-null object
City                    123688 non-null object
Sport                   123688 non-null object
Event                   123688 non-null object
Medal                   123688 non-null object
NOC_Year_Event_Medal    123688 non-null object
dtypes: int64(1), object(9)
memory usage: 10.4+ MB

In [40]:
unique_winning_countries.reset_index()

unique_winning_countries.head()

,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,NOC_Year_Event_Medal
0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None,CHN1992Basketball Men's BasketballNone
1,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None,CHN2012Judo Men's Extra-LightweightNone
2,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None,DEN1920Football Men's FootballNone
3,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,DEN1900Tug-Of-War Men's Tug-Of-WarGold
4,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None,NED1988Speed Skating Women's 500 metresNone

In [44]:
country_medals = unique_winning_countries.loc[unique_winning_countries["Medal"] != "None"]

country_medals.reset_index(drop=True, inplace=True)
country_medals.head()

,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,NOC_Year_Event_Medal
0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,DEN1900Tug-Of-War Men's Tug-Of-WarGold
1,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,FIN1920Swimming Men's 200 metres BreaststrokeB...
2,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,FIN1920Swimming Men's 400 metres BreaststrokeB...
3,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,FIN2014Ice Hockey Men's Ice HockeyBronze
4,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,FIN1948Gymnastics Men's Individual All-AroundB...

In [45]:
Rio = country_medals.loc[country_medals["Year"] == 2016]

Rio.head()

,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,NOC_Year_Event_Medal
26,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze,ITA2016Rowing Men's Coxless PairsBronze
28,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze,AZE2016Taekwondo Women's FlyweightBronze
33,France,FRA,2016 Summer,2016,Summer,Rio de Janeiro,Handball,Handball Men's Handball,Silver,FRA2016Handball Men's HandballSilver
55,Iran,IRI,2016 Summer,2016,Summer,Rio de Janeiro,Wrestling,"Wrestling Men's Middleweight, Greco-Roman",Bronze,"IRI2016Wrestling Men's Middleweight, Greco-Rom..."
87,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Team All-Around,Silver,RUS2016Gymnastics Men's Team All-AroundSilver

In [52]:
Rio_country = Rio.groupby("NOC")
Rio_country["NOC"].count().sort_values(ascending=False).head()

NOC
USA    121
CHN     70
GBR     67
RUS     56
FRA     42
Name: NOC, dtype: int64

## country_medals looks to be pretty accurate!

- test other years to double check. 

- possible to make machine learning model

In [53]:
country_medals.to_csv(os.path.join("..", "data", "country_medals.csv"),index=False)