In [3]:
import os
import numpy as np
import pandas as pd

In [4]:
path_to_csv = os.path.join("..", "data", "athlete_events.csv")

athletes = pd.read_csv(path_to_csv)

In [5]:
athletes.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
athletes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [15]:
athletes_cleaned = athletes[np.isfinite(athletes["Age"])]
athletes_cleaned = athletes_cleaned[np.isfinite(athletes["Height"])]
athletes_cleaned = athletes_cleaned[np.isfinite(athletes["Weight"])]
athletes_cleaned.head()

C:\Users\mtoriello0725\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\mtoriello0725\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN

In [16]:
athletes_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206165 entries, 0 to 271115
Data columns (total 15 columns):
ID        206165 non-null int64
Name      206165 non-null object
Sex       206165 non-null object
Age       206165 non-null float64
Height    206165 non-null float64
Weight    206165 non-null float64
Team      206165 non-null object
NOC       206165 non-null object
Games     206165 non-null object
Year      206165 non-null int64
Season    206165 non-null object
City      206165 non-null object
Sport     206165 non-null object
Event     206165 non-null object
Medal     30181 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 25.2+ MB

In [28]:
athletes_cleaned.count()

ID        206165
Name      206165
Sex       206165
Age       206165
Height    206165
Weight    206165
Team      206165
NOC       206165
Games     206165
Year      206165
Season    206165
City      206165
Sport     206165
Event     206165
Medal      30181
dtype: int64

### athletes_cleaned: now has NA values for weight, height, and age removed.

In [29]:
athletes_cleaned.to_csv(os.path.join("..", "data", "athlete_cleaned.csv"))